body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#personal-counter, #global-counter {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background-color: #424040;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#global-counter {
    top: 50px; 
}

#clickable-image {
    cursor: pointer;
    width: 200px;
    height: auto;
}

.navbar {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: left 0.3s;
    padding-top: 60px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #555;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
}