/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6d6b6b;
}

#start-screen, #end-screen {
    text-align: center;
    color: #fff;
}

#pong-game {
    position: relative;
    width: 800px;
    height: 400px;
    background-color: #fff;
}

.paddle {
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: #000;
}

#paddle1 {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#paddle2 {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffe100;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player-info {
    position: absolute;
    top: 10px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #000;
    text-align: center;
}

#player1-info {
    left: 50px;
}

#player2-info {
    right: 50px;
}

.player-name {
    font-size: 18px;
}

#timer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #000;
}
