body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #373333;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
}

#start-screen, #end-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#pong-game {
  position: relative; /* Assure que les éléments enfants sont positionnés relativement à celui-ci */
  width: 100%; /* Largeur de 100% pour remplir tout l'espace disponible */
  height: 100vh; /* Hauteur de 100% de la hauteur visible de l'écran */
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  background-color: #373333; /* Couleur de fond de l'écran de jeu */
  overflow: hidden; /* Empêche le défilement */
}

#pong-game canvas {
  background-color: #453e3e; /* Couleur de fond du canvas (zone de jeu) */
}
#pong-game-container {
  position: relative;
  width: 100%; /* Ajustez la largeur selon vos besoins */
  height: 100vh; /* Empêche le débordement en vertical */
  overflow: hidden; /* Cache tout débordement */
}

#paddle1, #paddle2, #ball {
  position: absolute;
  background-color: white;
}

#paddle1, #paddle2 {
  width: 10px;
  height: 80px;
}

#paddle1 {
  left: 20px;
}

#paddle2 {
  right: 20px;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 230, 0);
}

.score {
  position: absolute;
  top: 10px;
  font-size: 24px;
}

#score1 {
  left: 20px;
}

#score2 {
  right: 20px;
}

#player1-display-name, #player2-display-name {
  position: absolute;
  top: 10px;
}

#player1-display-name {
  left: 50px;
}

#player2-display-name {
  right: 50px;
}

#timer {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
}

#fps-display {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: yellow;
}

#end-screen {
  display: none;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
}
.navbar {
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  overflow-x: hidden;
  transition: left 0.3s;
  padding-top: 60px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #555;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.navbar ul li a:hover {
  background-color: #575757;
}